section {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 3em 1em;
  gap: 1em;
}

.section-badge {
  display: flex;
  flex-direction: row;
  width: fit-content;
  gap: 0.5em;
  padding: 0.3em 0.6em;
  border-radius: 0.5em;
  color: var(--color-text-reverse);
  font-size: 0.9em;
}

.section-badge svg {
  width: 1.1em;
  height: auto;
}

.section-badge.CSR {
  color: var(--color-accent-A-3);
  background: var(--color-accent-A-light);
}

.section-badge.SSR {
  color: var(--color-accent-B-3);
  background: var(--color-accent-B-light);
}

.section-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5em;
}

.section-content p {
  width: 65ch;
  text-align: center;
}


