footer {
    background-color: var(--color-background-footer);
    padding: 3rem 2rem;
    margin-top: 4rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    color: var(--color-text-secondary);
    width: 100%;
    box-sizing: border-box;
}

footer a {
    color: var(--color-text);
    text-decoration: none;
    transition: color 0.2s ease;
}

footer a:hover {
    color: var(--color-primary);
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer-links {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-links a:hover {
    color: var(--color-text-reverse);
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 2rem;
    padding-top: 1.5rem;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    font-size: 0.85rem;
    opacity: 0.7;
}

.footer-credentials {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3em;
}

.footer-credentials svg {
    width: 1em;
    height: auto;
}

.footer-credentials a{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3em;
}

.footer-credentials a:hover{
    color: var(--color-text-reverse)
}

@media (max-width: 768px) {
    footer {
        padding: 2rem 1rem;
    }
    
    .footer-links {
        flex-direction: column;
        gap: 1rem;
    }
}