.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 3em auto 0 auto;
}

.guide-badge {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--color-accent-A-3);
  font-size: 0.9em;
  gap: 0.5em;
}

.guide-badge svg {
  height: 1.1em;
  width: auto;
}

.logos-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 3em auto;
  gap: 1em;
  color: var(--color-text-secondary);
}

.logos-container svg {
  width: 2em;
  height: auto;
}

.logos-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  border-radius: 0.8em;
}

.item-icon svg {
  width: 2em;
  height: auto;
  color: var(--color-text-reverse);
}

.item-icon.browser {
  background: var(--gradient-A);
}

.item-icon.server {
  background: var(--gradient-B);
}

.render-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.render-method {
  font-size: 1.1em;
  color: var(--color-accent-B-3);
  font-weight: 500;
}

.hero-content p {
  display: block;
  text-align: center;
  width: 40ch;
  font-size: 1.2em;
  margin: 1em;
}

.render-link {
  text-decoration: none;
  color: var(--color-text-accent);
  padding: 0.7em 2em;
  border-radius: 1em;
  border: 1px solid var(--color-text-secondary);
}

.render-link:hover {
    color: var(--color-text-reverse);
}

.render-link.CSR:hover {
    border-color: var(--color-accent-A-3);
    background: var(--gradient-A);
}

.render-link.SSR:hover {
    border-color: var(--color-accent-B-3);
    background: var(--gradient-B);
}
