.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 3em auto 0 auto;
}

.guide-badge {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--color-accent-A-3);
  font-size: 0.9em;
  gap: 0.5em;
}

.guide-badge svg {
  height: 1.1em;
  width: auto;
}

.comparison-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1em auto;
  gap: 1em;
  color: var(--color-text-secondary);
}

.comparison-container svg {
  width: 2em;
  height: auto;
}

.comparison-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  border-radius: 0.8em;
}

.item-icon svg {
  width: 2em;
  height: auto;
  color: var(--color-text-reverse);
}

.item-icon.browser {
  background: linear-gradient(
    to bottom right,
    var(--color-accent-A-1),
    var(--color-accent-A-2)
  );
}

.item-icon.server {
  background: linear-gradient(
    to bottom right,
    var(--color-accent-B-1),
    var(--color-accent-B-2)
  );
}

.sections-nav {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.nav-link {
  text-decoration: none;
  color: var(--color-text-accent);
  padding: 0.7em 2em;
  border-radius: 1em;
  border: 1px solid var(--color-text-secondary);
}

.nav-link:hover {
    color: var(--color-text-reverse);
}

.nav-link.CSR:hover {
    border-color: var(--color-accent-A-3);
    background: linear-gradient(
    to bottom right,
    var(--color-accent-A-1),
    var(--color-accent-A-2)
  );
}

.nav-link.SSR:hover {
    border-color: var(--color-accent-B-3);
    background: linear-gradient(
    to bottom right,
    var(--color-accent-B-1),
    var(--color-accent-B-2)
  );
}
