@import "./reset.css";
@import "./variables.css";
@import "./styles.css";
@import "./hero.css";
@import "./sections/sections.css";
@import "./sections/approaches.css";
@import "./sections/comparison.css";
@import "./sections//hybrid.css";
@import "./footer.css"