.server-side-rendering,
.client-side-rendering {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 3em 1em;
  gap: 1em;
}

.section-badge {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  padding: 0.3em 0.6em;
  border-radius: 0.5em;
  color: var(--color-text-reverse);
  font-size: 0.9em;
}

.section-badge svg {
  width: 1.1em;
  height: auto;
}

.section-badge.CSR {
  color: var(--color-accent-A-3);
  background: var(--color-accent-A-light);
}

.section-badge.SSR {
  color: var(--color-accent-B-3);
  background: var(--color-accent-B-light);
}

.section-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3em;
}

.section-content h2,
.section-content h3 {
  text-align: left;
  margin: auto 0;
}

.section-content.SSR {
  flex-direction: row-reverse;
}

.section-content p {
  width: 45ch;
}

.evaluation {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.advantages,
.disadvantages {
  padding: 1em;
  border-radius: 1em;
  background-color: var(--color-background-secondary);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.advantages-heading,
.disadvantages-heading,
.advantages-li,
.disadvantages-li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.6em;
}

.advantages-heading,
.disadvantages-heading {
  margin-left: 1em;
}

.advantages-heading svg,
.disadvantages-heading svg {
  width: 1.5em;
  height: auto;
}

.advantages-list,
.disadvantages-list {
  list-style: none;
  padding: 0;
}

.advantage-svg,
.disadvantage-svg {
  width: 1.2em;
  height: auto;
  border-radius: 0.3em;
}

.advantage-svg {
  color: var(--color-accent-C-3);
  background-color: var(--color-accent-C-light);
}

.disadvantage-svg {
  color: var(--color-accent-D-3);
  background-color: var(--color-accent-D-light);
}

.title-span {
  display: flex;
  margin-top: 1.5em;
  font-size: 0.9em;
  color: var(--color-text-secondary);
}

.best-for-list,
.frameworks-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 1em;
}

.best-for-list li {
  display: flex;
  padding: 0.2em 0.5em;
  font-size: 0.8em;
  border-radius: 0.4em;
}

.best-for-list.CSR li {
  color: var(--color-accent-A-3);
  border: 1px solid var(--color-accent-A-3);
  background-color: var(--color-accent-A-light);
}

.best-for-list.SSR li {
  color: var(--color-accent-B-3);
  border: 1px solid var(--color-accent-B-3);
  background-color: var(--color-accent-B-light);
}

.framework {
  display: flex;
  padding: 0.2em 0.5em;
  font-size: 1.1em;
  border-radius: 0.4em;
  gap: 0.3em;
  color: var(--color-text-reverse);
}

.framework svg {
  width: 1em;
  height: auto;
}

.framework.react {
  background: linear-gradient(
    to right,
    oklch(62.3% 0.214 259.815),
    oklch(71.5% 0.143 215.221)
  );
}

.framework.vue {
  background: linear-gradient(
    to right,
    oklch(72.3% 0.219 149.579),
    oklch(69.6% 0.17 162.48)
  );
}

.framework.angular {
  background: linear-gradient(
    to right,
    oklch(63.7% 0.237 25.331),
    oklch(65.6% 0.241 354.308)
  );
}

.framework.nextjs {
  background: linear-gradient(
    to right,
    oklch(37.2% 0.044 257.287),
    oklch(20.8% 0.042 265.755)
  );
}

.framework.nuxtjs {
  background: linear-gradient(
    to right,
    oklch(62.7% 0.194 149.214),
    oklch(60% 0.118 184.704)
  );
}

.framework.sveltekit {
  background: linear-gradient(
    to right,
    oklch(63.7% 0.237 25.331),
    oklch(70.5% 0.213 47.604)
  );
}
