html,
body {
  height: 100vh;
  height: 100dvh;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: var(--font-family-primary);
  background-color: var(--color-background);
  color: var(--color-text-primary);
}

.page-content-wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  height: 100dvh;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: var(--font-family-headings);
  color: var(--color-text-accent);
  text-align: center;
}
