:root {
  /* Font families */
  --font-family-primary: "Inter", sans-serif;
  --font-family-headings: "Poppins", sans-serif;

  /* Colors - Background */
  --color-background: #ffffff;
  --color-background-secondary: rgba(150, 150, 150, 0.15);
  --color-background-footer: oklch(20.8% 0.042 265.755);

  /* Colors - Text */
  --color-text-primary: #314158;
  --color-text-secondary: #45556c;
  --color-text-accent: #0f172b;
  --color-text-reverse: #ffffff;

  /* Colors - Accent A (Blue) */
  --color-accent-A-1: #2b7fff;
  --color-accent-A-2: #155dfc;
  --color-accent-A-3: #1447e6;
  --color-accent-A-light: rgba(43, 127, 255, 0.3);

  --gradient-A: linear-gradient(
    to bottom right,
    var(--color-accent-A-1),
    var(--color-accent-A-2)
  );

  /* Colors - Accent B (Purple) */
  --color-accent-B-1: #ad46ff;
  --color-accent-B-2: #9810fa;
  --color-accent-B-3: #8000e6;
  --color-accent-B-light: rgba(173, 70, 255, 0.4);

  --gradient-B: linear-gradient(
    to bottom right,
    var(--color-accent-B-1),
    var(--color-accent-B-2)
  );

  /* Colors - Accent C (Green) */
  --color-accent-C-1: #00c847;
  --color-accent-C-2: #00a63e;
  --color-accent-C-3: #008630;
  --color-accent-C-light: rgba(0, 200, 71, 0.3);

  --gradient-C: linear-gradient(
    to bottom right,
    var(--color-accent-C-1),
    var(--color-accent-C-2)
  );

  /* Colors - Accent D (Orange) */
  --color-accent-D-1: #ff8c00;
  --color-accent-D-2: #e17100;
  --color-accent-D-3: #c55a00;
  --color-accent-D-light: rgba(255, 140, 0, 0.3);

  --gradient-D: linear-gradient(
    to bottom right,
    var(--color-accent-D-1),
    var(--color-accent-D-2)
  );
}
